{% extends 'students/students_base.html' %}
{% block body %}
<style>

body {
  background: rgba(0, 0, 0, 0.43);
}

</style>
<div class="container-fluid" style="overflow: hidden;">
    <div class="row">
        <div class="col-md-2">
            {% include 'base/sidebar.html'%}
        </div>
        {% set student = student or None %}
        {% set erros = erros or None %}
        <div class="col-md-10" style="margin-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="/students"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                                    <h4 class="modal-title" id="exampleModalLabel">Editar Cadastro</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ salvar_path }}" method="post">
                                        {{ csrf_input() }}
                                        <label>Curso</label>
                                        <select name="course">
                                            {% for cat in courses %}
                                                <option value="{{ cat.key.id() }}">{{ cat.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {{ form_input('Nome','name',student.name,erros.name) }}
                                        {{ form_input('Data de Nascimento','birthday',student.birthday,erros.birthday) }}
                                        {{ form_input('Telefone','phone_number',student.phone_number,erros.phone_number) }}

                                        {% if student.key  %}
                                            <input type="hidden" name="student_id" value="{{ student.key.id() }}" />
                                        {% endif %}
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}