{% extends 'gallerys/gallery_base.html' %}
{% block body %}
<div class="container-fluid" style="overflow: hidden;">
  <div class="row">
      <div class="col-md-2">
        {% include 'base/sidebar.html'%}
      </div>
    {% set gallery = gallery or None %}
    {% set erros = erros or None %}
      <div class="col-md-10" style="margin-top: 30px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-10">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Inserir Foto</button>
                      <hr>
                      <h4>Lista de Fotos</h4>
                      <table class="table table-striped table-hover" style="margin-top: 30px;">
                          <thead>
                          <tr>
                              <th/>
                              <th>{% trans %}Editar{% endtrans %}</th>
                              <th>{% trans %}Nome{% endtrans %}</th>
                              <th>{% trans %}Arquivo{% endtrans %}</th>
                              <th>{% trans %}Excluir{% endtrans %}</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for gallery in gallerys %}
                              <tr>
                                  <td><a href="{{ gallery.edit_path }}" class="btn btn-success btn-sm"><i
                                          class="glyphicon glyphicon-pencil"></i></a></td>
                                  <td>{{ gallery.name_author }}</td>
                                  <td>{{ gallery.file }}</td>
                                  <td>
                                      <form action="{{ gallery.deletar_path }}" method="post">
                                          {{ csrf_input() }}
                                          <button class="btn btn-danger btn-sm"><i
                                                    class="glyphicon glyphicon-trash"></i></button>
                                      </form>
                                  </td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Formulário</h4>
            </div>
            <div class="modal-body">
                <form action="{{ salvar_path }}" method="post">
                    {{ csrf_input() }}
                    {{ form_input('name_author','name_author',gallery.name_author,erros.name_author) }}
                    {{ form_input('file','file',gallery.file,erros.file) }}
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}