{% extends 'students/students_base.html' %}
{% block body %}
<script type="application/javascript" src="/static/js/student.js"></script>
<div class="container-fluid" style="overflow: hidden;">
    <div class="row">
        <div class="col-md-2">
            {% include 'base/sidebar.html'%}
        </div>
        <div class="col-md-10" style="margin-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <hr>
                        <h4 style="text-align: center">Lista de Alunos</h4>
                        <hr>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th style="text-align: center">Data de Nascimento</th>
                                <th style="text-align: center">Telefone</th>
                                <th style="text-align: center">Remover Aluno</th>
                            </tr>
                            </thead>
                            <tbody id="students-ul" style="text-align: center"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}