{% extends 'alunos/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/aluno/js/aluno.js"></script>
    <script type="text/javascript">

        var alunoServico = angular.module('aluno-servico', []);

        alunoServico.factory('AlunoAPI', function ($http) {
            return {
                salvar: function (aluno) {
                    return $http.post('{{ salvar_path }}', aluno);
                },
                editar: function (aluno) {
                    return $http.post('{{ editar_path }}', aluno);
                },
                listar: function () {
                    return $http.post('{{ listar_path }}');
                },
                deletar: function (id) {
                    return $http.post('{{ deletar_path }}', {'id': id});
                }
            }
        });

        function AlunoControlador($scope, AlunoAPI) {
            $scope.mostrarFormFlag = false;
            $scope.alunos = [];

            AlunoAPI.listar().success(function (alunos) {
                $scope.alunos = alunos;
            });

            $scope.mostrarOuEsconderForm = function () {
                $scope.mostrarFormFlag = !$scope.mostrarFormFlag;
            };

            $scope.adicionarAluno = function (aluno) {
                $scope.alunos.unshift(aluno);
            }

            $scope.deletarAluno = function (index) {
                $scope.alunos.splice(index,1);
            }

        }



    </script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'base/sidebar.html'%}
        </div>
        <div class="col-md-10" ng-app="aluno-modulo" ng-controller="AlunoControlador">
            <button class="btn btn-success" ng-click="mostrarOuEsconderForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="margin-top:25px;">Criar Novo Aluno</button>

                            <aluno-form ng-show="mostrarFormFlag" aluno-salvo="adicionarAluno(aluno)"></aluno-form>
           
            <hr/>
            <h2>{% trans %}Lista de Alunos{% endtrans %}</h2>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th ></th>
                    <th>{% trans %}Nome{% endtrans %}</th>
                    <th>{% trans %}Data Nascimento{% endtrans %}</th>
                    <th>{% trans %}Telefone{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in alunos" aluno-linha aluno="f" aluno-deletado="deletarAluno($index)"></tr>
                </tbody>
                </table>
                    
        </div>
    </div>
</div>


{% endblock %}


